@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main: #802c6e;
  --grey: #f7f7f7;
  --black: #242424;
}

body {
  background-color: var(--grey);
  font-family: "Poppins", sans-serif;
}

#mainScrollbar::-webkit-scrollbar-track,
#dropdownScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

#mainScrollbar::-webkit-scrollbar,
#dropdownScroll::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#mainScrollbar::-webkit-scrollbar-thumb,
#dropdownScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--main);
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style-type: none;
}

.navBar {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 40px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 12px rgba(94, 94, 94, 0.18);
          box-shadow: 0px 5px 12px rgba(94, 94, 94, 0.18);
  z-index: 999;
}

.navBar .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .brand h1 {
  color: var(--black);
  font-size: 30px;
}

.navBar .brand span {
  color: var(--main);
}

.navBar .brand .brandImage {
  height: 50px;
  margin: 0px 12px;
  -webkit-box-shadow: 0px 5px 12px rgba(94, 94, 94, 0.18);
          box-shadow: 0px 5px 12px rgba(94, 94, 94, 0.18);
}

.navBar .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar .navList .navItem {
  margin: 0px 18px;
  font-size: 21px;
  cursor: pointer;
}

.navBar .navList .navItem:hover {
  color: var(--main);
}

.navBar .navList .cartItem {
  background-color: var(--main);
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navBar .navList .cartItem:hover {
  background-color: #6e245e;
  color: white;
}

.navBar .navList .cartItem i {
  font-size: 25px;
}

.navBar .navList .cartItem span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #4e4e4e;
  border-radius: 50%;
  font-size: 14px;
  top: 1px;
  right: 3%;
}

.dropdown {
  right: 0;
  width: 400px;
  height: 420px;
  background-color: white;
  margin-top: 4px;
  border-radius: 6px;
  margin-right: 20px;
  padding: 10px 20px;
  overflow: auto;
  display: none;
  -webkit-animation: fadeIn 0.1s ease;
          animation: fadeIn 0.1s ease;
  position: fixed;
  top: 80px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 9999;
}

.dropdown.active {
  display: block;
}

.dropdown .dropdownHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown .dropdownHeading .checkoutButton {
  background-color: var(--main);
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  border: unset;
  outline: unset;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.dropdown .dropdownHeading .checkoutButton:hover {
  background-color: #6e245e;
}

.dropdown hr {
  background-color: #2424242f;
  border: unset;
  outline: unset;
  height: 1px;
  margin: 6px 0;
  margin-bottom: 6px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cartItemList .cartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 6px 12px;
}

.cartItemList .cartItem .itemDetails {
  padding: 6px;
  margin-left: 12px;
}

.cartItemList .cartItem .itemDetails h4 {
  overflow: hidden;
  display: inline-block;
  opacity: 0.9;
  margin: 0;
}

.cartItemList .cartItem .itemDetails h5 {
  opacity: 0.5;
}

.cartItemList .cartItem .itemImage {
  width: 40px;
}

.container {
  max-width: 90%;
  top: 85px;
  position: relative;
  margin: auto;
}

.container .bannerSection {
  height: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  grid-gap: 12px;
  z-index: -200;
}

.container .bannerSection .brandSlogan {
  margin: auto;
}

.container .bannerSection .brandSlogan h1 {
  font-size: 44px;
  color: #6e245e;
}

.container .bannerSection .brandSlogan p {
  color: #5e5e5e;
}

.container .bannerSection .brandHeroImage {
  height: 60%;
}

footer {
  height: 4rem;
  background-color: var(--main);
  color: #cacaca;
  text-align: center;
}

footer h2 {
  padding: 12px 0px;
}
/*# sourceMappingURL=style.css.map */